@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;border:0;font-family:"微软雅黑", "宋体", "仿宋";}
.floatLeft{float:left;}
.floatRight{float:right;}
.clear{clear:both;}
ul{margin:0;padding:0;}
li{list-style:none;}

@media (min-width: 0px) and (max-width: 768px) {
	body{
	
	}
	.biaoyu{display:none;}
}

@media (min-width: 768px) {
	body{
	
	}
	.biaoyu{display:none;}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) { 
	body{
		
	}
	.biaoyu{display:block;}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
	body{
		
	}
	.biaoyu{display:block;}
}


/*头部*/
.header{
	width:100%;
	height:122px;
	background:#f1f1f1;
}
.logo{
	width:1200px;
	height:68px;
	margin:0 auto;
}
.logo span{
	line-height:82px;
	font-size:12px;
	font-family:"宋体";
	margin-left:20px;
	color:#685e5f;
}
.logo span a{
	color:#685e5f;
	text-decoration:none;
}
.logo span a:hover{
	color:#000000;
	text-decoration:underline;
}
.phone{
	font-size:16px;
	line-height:68px;
	color:rgb(91,178,252);
	margin-left:150px;
}


.nav{
	width:100%;
	height:40px;
	background:#685e5f;
}

#navigation, #navigation li ul { 
	list-style-type:none;
	font-family:"微软雅黑"; 
} 
#navigation {
	width:1060px;
	margin:0 auto; 
} 
#navigation li { 
	float:left; 
	text-align:center; 
	position:relative; 
} 
#navigation li a:link, #navigation li a:visited { 
	display:block; 
	text-decoration:none; 
	color:#fff; 
	width:110px; 
	height:40px; 
	line-height:40px;  
	padding-left:5px;
} 
#navigation li a:hover { 
	color:#685e5f; 
	background:#fff;
} 
#navigation li ul li a:link,#navigation li ul li a:visited { 
	color:#fff; 
	background:#685e5f; 
	border-bottom:1px solid #fff;
} 
#navigation li ul li a:hover { 
	color:#685e5f; 
	background:#ccc; 
} 
#navigation li ul { 
	display:none; 
	position:absolute; 
	top:40px; 
	left:0; 
	width:120px; 
} 



/*主要部分*/
.banner{
	width:100%;
	height:650px;
	background:url(/static/images/banner.jpg) 50% 0;
}
.youshi{
	width:677px;
	height:150px;
	padding-top:278px;
	margin:0 auto;
}
.know{
	width:402px;
	margin:0 auto;
	padding-top:93px;
}

.main-one{
	background:#f2f2f2;
}
.main-one h1{
	font-size:36px;
	padding-top:60px;
	text-align:center;
}
.main-one p{
	font-size:16px;
	line-height:24px;
	color:#6a6a6a;
	padding-top:36px;
	padding-bottom:36px;
	text-align:center;
}
.main-one-tiao{
	width:942px;
	height:4px;
	margin:0 auto;
	padding-bottom:36px;
}
.main-one-main{
	width:942px;
	margin:0 auto;
}
.main-one-top{

}
.main-one-left{
	width:327px;
	padding-left:20px;
}
.main-one-left-h4{
	font-weight:bold;
	border-bottom:1px dashed #6e6e6e;
}
.main-left-h{
	font-size:14px;
	line-height:24px;
	color:#555555;
}
.main-left-more{
	font-size:12px;
	line-height:24px;
	color:#555555;
}
.main-left-more a{
	color:#555;
	text-decoration:none;
}
.main-left-more a:hover{
	color:#ff9000;
	text-decoration:underline;
}
.main-one-bottom{
	padding:36px 0;
}
.main-one-left-main ul li{
	color:#555;
	font-size:12px;
	line-height:27px;
}
.main-one-left-main ul li a{
	color:#555;
	text-decoration:none;
}
.main-one-left-main ul li a:hover{
	color:#ff9000;
	text-decoration:none;
}



.main-two{
	background:#fff;
}
.main-two h1{
	color:#ff9000;
	font-size:36px;
	padding-top:60px;
	text-align:center;
}
.main-two p{
	font-size:16px;
	line-height:24px;
	color:#6a6a6a;
	padding-top:36px;
	padding-bottom:36px;
	text-align:center;
}
.main-two-main{
	width:1230px;
	margin:0 auto;
	padding-bottom:44px;
}
.main-two-main ul{
	margin-left:-15px;
}
.main-two-main ul li{
	width:280px;
	height:400px;
	margin-left:27px;
	background:#e6e6e6;
	float:left;
}
.main-two-main ul li h3{
	height:50px;
	overflow:hidden;
	color:#ff9000;
	font-size:14px;
	line-height:50px;
	text-align:center;
}
.main-two-main ul li h3 a{
	text-decoration:none;
	color:#3180cd;
}
.main-two-main ul li h5{
	color:#3180cd;
	font-size:14px;
	padding-bottom:18px;
	text-align:center;
	font-weight:normal;
}
.main-two-main ul li p{
	font-size:12px;
	color:#000;
	line-height:20px;
	padding:0;
	width:242px;
	margin:0 auto;
	text-align:left;
}
.main-two-main-button{
	text-align:center;
	position:absolute;
	padding-top:70px;
	padding-left:65px;
}




.main-three{
	background:#f2f2f2;
	text-align:center;
}
.main-three h1{
	font-size:36px;
	padding-top:60px;
	text-align:center;
}
.main-three p{
	font-size:16px;
	line-height:24px;
	color:#6a6a6a;
	padding-top:36px;
	padding-bottom:36px;
	text-align:center;
}
.main-three > img{
	padding-bottom:50px;
}
.three-form{
	width:800px;
	margin:0 auto;
	padding-bottom:50px;
}
.three-form input{
	width:174px;
	height:44px;
	margin-left:10px;
	padding-left:20px;
	line-height:44px;
	background:url(/static/images/21.png) no-repeat;
}
.main-three-main{
	width:930px;
	margin:0 auto;
	padding-bottom:44px;
}
.three-table-head{
	border-bottom:1px solid #8e8e8e;
}
.three-table-head span{
	width:186px;
	float:left;
	text-align:center;
	font-size:22px;
	line-height:40px;
}
.three-table-main{
	width:930px;
	margin:0 auto;
	background:#fff;
}
.main-three-main ul li span{
	width:186px;
	float:left;
	text-align:center;
	color:#484848;
	font-size:20px;
	line-height:46px;
}
#indexBaoming{
	font-size:12px;
	color:#999;
}



.main-four{
	background:#fff;
}
.main-four h1{
	font-size:36px;
	padding-top:60px;
	text-align:center;
}
.main-four p{
	font-size:16px;
	line-height:24px;
	color:#6a6a6a;
	padding-top:36px;
	padding-bottom:36px;
	text-align:center;
}
.main-four-main{
	width:auto;
	margin:0 auto;
	padding-bottom:44px;
	text-align:center;
}



.main-five{
	background:#f2f2f2;
}
.main-five h1{
	font-size:36px;
	padding-top:60px;
	text-align:center;
}
.main-five p{
	font-size:16px;
	line-height:24px;
	color:#6a6a6a;
	padding-top:36px;
	padding-bottom:36px;
	text-align:center;
}
.main-five-main{
	width:1210px;
	margin:0 auto;
	padding-bottom:44px;
	text-align:center;
}
.main-five-main ul li{
	width:188px;
	height:48px;
	float:left;
	margin-right:9px;
	margin-bottom:9px;
	text-align:center;
	line-height:48px;
	background:#fff;
	border:1px solid #72899e;
}
.main-five-main ul li a{
	color:#000;
	text-decoration:none;
}
.main-five-main ul li:hover a{
	color:#fff;
}
.main-five-main ul li a:hover{
	color:#fff;
}
.main-five-main ul li:hover{
	background:#ff9000;
	color:#fff;
	border:1px solid #ff9000;
}




.main-six{
	background:#fff;
}
.main-six h1{
	font-size:36px;
	padding-top:60px;
	text-align:center;
	padding-bottom:36px;
}
.main-six-main{
	width:auto;
	margin:0 auto;
	padding-bottom:44px;
	text-align:center;
}


.main-seven{
	width:100%;
	height:569px;
	background:url(/static/images/12.jpg) 50% 50%;
	margin:0 auto;
	text-align:center;
	overflow:hidden;
}


.main-eight{
	background:#fff;
}
.main-eight h1{
	font-size:36px;
	padding-top:60px;
	text-align:center;
}
.main-eight p{
	font-size:16px;
	line-height:24px;
	color:#6a6a6a;
	padding-top:36px;
	padding-bottom:36px;
	text-align:center;
}
.main-eight-main{
	width:auto;
	margin:0 auto;
	padding-bottom:44px;
	text-align:center;
}
.main-eight-main a{
	display:block;
}
.eight-button{
	padding-top:44px;
}




.main-nine{
	background:#f2f2f2;
	text-align:center;
}




.main-ten{
	background:#fff;
}
.main-ten h1{
	font-size:36px;
	padding-top:60px;
	text-align:center;
}
.main-ten p{
	font-size:16px;
	line-height:24px;
	color:#6a6a6a;
	padding-top:36px;
	padding-bottom:36px;
	text-align:center;
}
.main-ten-main{
	width:1200px;
	margin:0 auto;
	text-align:center;
}
.main-ten-left{
	width:614px;
	height:336px;
	float:left;
}
.main-ten-right{
	width:586px;
	float:right;
}
.main-ten-right ul li{
	margin-left:18px;
	margin-bottom:18px;
	float:left;
}
.ten-button a{
	display:block;
	text-align:center;
	padding-top:46px;
}



.main-eleven{
	background:#f2f2f2;
}
.main-eleven p{
	font-size:16px;
	line-height:24px;
	color:#6a6a6a;
	padding-top:36px;
	padding-bottom:36px;
	text-align:center;
}
.main-eleven h1{
	font-size:36px;
	padding-top:60px;
	text-align:center;
}
.main-eleven-main{
	width:auto;
	margin:0 auto;
	padding-bottom:44px;
	text-align:center;
}
.main-eleven-main a{
	display:block;
}



.main-twelve{
	background:#fff;
}
.main-twelve p{
	font-size:16px;
	line-height:24px;
	color:#6a6a6a;
	padding-top:36px;
	padding-bottom:36px;
	text-align:center;
}
.main-twelve h1{
	font-size:36px;
	padding-top:60px;
	text-align:center;
}
.main-twelve-main{
	width:1214px;
	margin:0 auto;
	padding-bottom:44px;
	text-align:center;
}
.main-twelve-main ul li{
	float:left;
	margin:0 7px 14px 7px;
}





.main-thirteen{
	width:100%;
	height:525px;
	background:url(/static/images/18.jpg) 50% 50% no-repeat;
}
/*
.main{
	width:100%;
	background:url(/static/images/mainbg.png) 100% 100%;
	background-attachment:fixed;
}
.main-header{
	width:1060px;
	height:404px;
	margin:0 auto;
}
.dongtai{
	width:421px;
	height:404px;
	background:#ccc;
}
.dongtai-news{
	width:421px;
	height:132px;
	background:#FFFFFF;
	margin-bottom:4px;
}
.dongtai-news h3{
	padding-top:10px;
	padding-left:10px;
	line-height:35px;
	color:#3b372f;
}
.dongtai-news h3 a{
	color:#3b372f;
	text-decoration:none;
}
.dongtai-news h3 a:hover{
	color:#3b372f;
	text-decoration:underline;
}
.dongtai-news p{
	padding:10px;
	line-height:25px;
	text-indent:2em;
	color:#3b372f;
}
.dongtai-news p a{
	color:#3b372f;
	text-decoration:none;
}
.dongtai-news p a:hover{
	color:#3b372f;
	text-decoration:underline;
}

.huandengpian{
	width:604px;
	height:404px;
}


.xuelijiaoyu{
	width:100%;
	height:450px;
}
.xuelijiaoyu-main{
	width:1055px;
	height:400px;
	margin:0 auto;
	padding-top:40px;
}
.xuelijiaoyu-main h1{
	font-weight:100;
	color:rgb(91,178,252);
	text-align:center;
	line-height:60px;
	border-bottom:2px solid rgb(91,178,252);
}
.xueli-tuwen{
	width:244px;
	height:292px;
	margin-top:40px;
	margin-left:16px;
}
.xueli-tu{
	width:213px;
	height:213px;
	margin:0 auto;
}
.xueli-wen{
	width:244px;
	height:77px;
	line-height:50px;
	text-align:center;
}
.xueli-wen a{
	color:#000000;
	text-decoration:none;
}
.xueli-wen a:hover{
	color:#000000;
	
}


.lijibaoming{
	width:100%;
	height:280px;
	background:url(/static/images/baomingbg.jpg) 50% 100% no-repeat;
}
.baoming-word{
	padding-top:40px;
	color:#fff;
	font-size:25px;
	line-height:33px;
	text-align:center;
}
.baoming-anniu{
	width:300px;
	height:60px;
	border:1px solid #fff;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	color:#fff;
	line-height:60px;
	margin:0 auto;
	text-align:center;
	font-size:26px;
	margin-top:20px;
}
.lijibaoming a{
	color:#fff;
	text-decoration:none;
}
.lijibaoming a:hover{
	color:#fff;
	text-decoration:underline;
}



.jingzhinews{
	width:974px;
	height:505px;
	background:url(/static/images/newsbg.png);
	margin:0 auto;
}
.jingzhinews h1{
	font-weight:100;
	color:rgb(91,178,252);
	text-align:center;
	line-height:60px;
	padding-top:30px;
	border-bottom:2px solid rgb(91,178,252);
}
.jingzhinews-news{
	width:472px;
	height:335px;
	margin-top:30px; 
	border-top:2px solid rgb(91,178,252);
	border-bottom:4px solid rgb(91,178,252);
}
.jingzhinews-news h2{
	padding:20px;
	font-weight:400;
	color:rgb(91,178,252);
}
.yingwen{font-size:14px;}

.jingzhinews-news li{
	color:#676767;
	list-style:none;
	line-height:35px;
	margin-left:20px;
}
.jingzhinews-news li a{
	color:#676767;
	text-decoration:none;
}
.jingzhinews-news li a:hover{
	color:#676767;
	text-decoration:underline;
}

.more{
	margin-top:14px;
	color:rgb(91,178,252);
}
.more:link{
	color:rgb(91,178,252);
	text-decoration:none;
}
.more:hover{
	color:rgb(91,178,252);
	text-decoration:underline;
}


.xueshengtiantang{
	width:100%;
	height:500px;
}
.xueshengtiantang-main{
	width:1055px;
	height:450px;
	margin:0 auto;
	border-bottom:4px solid rgb(91,178,252);
}
.xueshengtiantang-main h1{
	font-weight:100;
	color:rgb(91,178,252);
	text-align:center;
	line-height:60px;
	border-bottom:2px solid rgb(91,178,252);
}*/
/*图片翻转*/
/*
#brand{
	width:1050px;
	height:450px;
	margin:0 auto;
}
#brand li{
	width:215px;
	height:144px;
	overflow:hidden;
	position:relative;
	list-style:none;	
	margin:40px 0 0 40px;
}
#brand li img{
	width:215px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
	overflow:hidden;
	display:none;
}
#brand li span{
	width:215px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
	text-align:center;
	line-height:144px;
	font-size:18px;
	color:#FFF;
	background:#ffa340;
	font-weight:bold;
	overflow:hidden;
}
#brand li a{
	width:215px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:3;
}
*/




/*关于我们*/
.aboutUS-main{
	width:100%;
}
.aboutUS-one{
	width:100%;
	height:335px;
	background:url(/static/images/aboutonebg.jpg) 50% 20% no-repeat;
}
.aboutUS-one p{
	color:#fff;
	text-align:center;
	line-height:80px;
}
.aboutUS-one-anniu{
	width:315px;
	height:52px;
	margin:0 auto;
	border:4px solid #fff;
	line-height:52px;
	font-size:34px;
	text-align:center;
	color:#fff;
	margin-top:30px;
}
.aboutUS-one-anniu:hover{
	background:rgb(91,178,252);
	border:4px solid rgb(91,178,252);
	color:#fff;
}
.aboutUS-one-anniu:hover a{
	color:#fff;
}
.aboutUS-one-anniu a{
	color:#fff;
	text-decoration:none;
}
.aboutUS-one-anniu a:hover{
	color:#fff;
	text-decoration:none;
}

.aboutUS-two{
	width:100%;
	height:780px;
	border-bottom:1px solid #8a8a8a;
}
.aboutUS-two h1{
	line-height:150px;
	text-align:center;
	color:#4f4f4f;
}
.aboutUS-two p{
	width:950px;
	margin:0 auto;
	color:#717171;
	font-size:18px;
	text-indent:2em;
	line-height:33px;
}

.aboutUS-two-three{
	width:930px;
	margin:0 auto;
	margin-top:50px;
	padding-left:80px;
}
.aboutUS-two-three-tuwen{
	width:310px;
	height:254px;
}
.aboutUS-two-three-tu{
	width:194px;
	height:194px;
}
.aboutUS-two-three-wen{
	width:100%;
	height:60px;
	text-align:center;
	line-height:60px;
}
.aboutUS-two-anniu{
	width:250px;
	height:48px;
	margin:0 auto;
	border:4px solid rgb(91,178,252);
	line-height:48px;
	font-size:25px;
	text-align:center;
	color:#000;
	margin-top:30px;
}
.aboutUS-two-anniu:hover{
	background:rgb(91,178,252);
	border:4px solid rgb(91,178,252);
	color:#fff;
}
.aboutUS-two-anniu:hover a{
	color:#fff;
}
.aboutUS-two-anniu a{
	color:rgb(91,178,252);
	text-decoration:none;
}
.aboutUS-two-anniu a:hover{
	color:#fff;
	text-decoration:none;
}

.aboutUS-three-tupianbg{
	width:100%;
	height:303px;
	margin-top:40px;
	background:url(/static/images/course.jpg) 50% 50%;
}
.timezhou{
	width:1077px;
	margin:0 auto;
}


.aboutUS-four{
	width:100%;
	height:850px;
}
.aboutUS-four h1{
	line-height:150px;
	text-align:center;
	color:#4f4f4f;
}
.aboutUS-four p{
	width:950px;
	margin:0 auto;
	color:#717171;
	font-size:18px;
	text-indent:2em;
	line-height:33px;
	text-align:center;
}
.aboutUS-picture{
	width:900px;
	height:418px;
	margin:0 auto;
	margin-top:40px;
}
.aboutUS-picture-left{
	width:637px;
	height:418px;
}
.aboutUS-picture-right{
	width:260px;
	height:418px;
	margin-right:3px;
}





.aboutUS-five{
	width:100%;
	height:630px;
	background:url(/static/images/culture.jpg) 50% 50%;
}
.aboutUS-five h1{
	color:#fff;
	font-weight:100;
	text-align:center;
	line-height:100px;
}



.aboutUS-six{
	width:100%;
	height:630px;
}

.aboutUS-six h1{
	line-height:150px;
	text-align:center;
	color:#4f4f4f;
}
.aboutUS-six p{
	width:950px;
	margin:0 auto;
	color:#717171;
	font-size:18px;
	text-indent:2em;
	line-height:40px;
	text-align:center;
}
.aboutUS-six p span{
	font-size:30px;
	line-height:50px;
}



/*在线报名*/
.baoming-main{
	width:100%;
}
.baoming-banner{
	width:1197px;
	height:301px;
	margin:0 auto;
	background:url(/static/images/baomingbg.png);
}
.baoming-weizhi{
	width:100%;
	color:#666;
	font-size:14px;
	line-height:34px;
	border-bottom:1px solid #ddd; 
}
.baoming-weizhi a{
	color:#666;
	text-decoration:none;
}
.baoming-content{
	width:1197px;
	margin:0 auto;
}
.baoming-content-left{
	width:596px;
}
.baoming-content-left h1{
	font-size:28px;
	font-weight:100;
	margin-top:40px;
	text-align:center;
	letter-spacing:6px;
}
.baoming-content-left span{
	color:#666;
	font-size:14px;
	line-height:20px;
	margin-right:30px;
}
.baoming-content-left h3{
	font-weight:100;
	margin-top:50px;
	text-align:center;
	letter-spacing:2px;
	line-height:40px;
}
.baoming-content-left p{
	width:90%;
	margin:0 auto;
	color:#666;
	font-size:14px;
	line-height:30px;
}
.jingzhiyoushi{
	width:100%;
	height:240px;
	background:#f6f6f6;
}
.jingzhiyoushi-tu{
	width:1345px;
	margin:0 auto;
}


.baoming-content-baomingbiao{
	width:596px;
}
.baoming-content-baomingbiao h1{
	font-size:28px;
	font-weight:100;
	margin-top:40px;
	text-align:center;
	letter-spacing:6px;
	color:#666;
}
.baomingtiao{
	width:480px;
	margin:0 auto;
	margin-top:15px;
}
.baoming-content-baomingbiao form{
	width:80%;
	margin:0 auto;
	line-height:50px;
	font-size:14px;
}
.baoming-content-baomingbiao form input{
	height:25px;
	line-height:25px;
	border:1px solid #ccc;
}
.baoming-content-baomingbiao form textarea{
	width:300px;
	border:1px solid #ccc;
}
.baoming-content-baomingbiao form select{
	width:170px;
	height:25px;
	border:1px solid #ccc;
}
.btn{
	width:140px;
	height:45px;
	margin-top:30px;
	line-height:45px;
	font-size:16px;
	color:#fff;
}
.btn:hover{
	color:#ffcc00;
}
.ib > input{
	height:15px !important;
	margin-left:15px;
}
#dosubmit{
	width:140px;
	height:42px !important;
	margin:10px 0;
	line-height:45px;
	font-size:16px;
	color:#fff;
	border:0;
	background:url(/static/images/btnbj.png);
}
#dosubmit:hover{
	color:#ffcc00;
}



/*快捷通道*/
.kuaijietongdao-main{
	width:100%;
}

.kuaijietongdao-banner{
	width:1200px;
	height:300px;
	margin:0 auto;/*
	background:url(/static/images/baomingbg.png);*/
}
.kjtd-main{
	width:1200px;
	margin:0 auto;
}
.kjtd-left{
	width:20%;
}
.kjtd-left h2{
	text-align:right;
	padding:30px 30px 0 0;
	color:#a00e15;
	font-weight:100;
	padding-bottom:20px;
}
.kjtd-left li{
	color:#333;
	font-size:15px;
	list-style:none;
	text-align:right;
	padding-right:30px;
	line-height:40px;
}
.kjtd-left li a{
	text-decoration:none;
	color:#333;
}
.kjtd-left li a:hover{
	text-decoration:underline;
}

.kjtd-right{
	width:79%;
	border-left:1px solid #ddd;
}
.kjtd-right h2{
	text-align:left;
	padding:30px 0 0 30px;
	color:#a00e15;
	font-weight:100;
}
.kjtd-right li{
	width:850px;
	height:8px;
	color:#333;
	font-size:13px;
	line-height:20px;
	padding:20px 20px 20px 30px;
	list-style:none;
	border-bottom:1px solid #e0e0e0;
}
.kjtd-news-title{
	width:70%;
}
.kjtd-news-title a{
	color:#333;
	text-decoration:none;
}
.kjtd-news-title a:hover{
	text-decoration:underline;
}
#pages{
	width:auto;
	padding:70px 0 50px 0;
	display:table;
	margin:0 auto;
}
#pages a{
	padding:7px 11px;
	border:1px solid #c7c7c7;
	margin-right:10px;
	color:#888;
	text-decoration:none;
}
#pages span{
	padding:7px 11px;
	border:1px solid #c7c7c7;
	margin-right:10px;
}






.heaven-right{
	width:79%;
	border-left:1px solid #ddd;
}
.heaven-right h2{
	text-align:left;
	padding:30px 0 0 30px;
	color:#a00e15;
	font-weight:100;
}
.heaven-right li{
	width:227px;
	height:190px;
	padding:30px 40px;
	float:left;
}
.heaven-right li .heaven-img{
	width:227px;
	height:150px;
}
.heaven-right li .heaven-title{
	width:227px;
	height:40px;
	line-height:40px;
	color:#333;
	font-size:13px;
	line-height:20px;
	list-style:none;
	text-align:center;
	border-bottom:1px solid #e0e0e0;	
}
.heaven-right li .heaven-title a{
	line-height:40px;
	color:#333;
	text-decoration:none;
}
.heaven-right li .heaven-title a:hover{
	text-decoration:underline;	
}







/*内容区域*/
.heaven-right h1{
	font-size:22px;
	color:#555;
	text-align:center;
	padding:40px 0;
}
.heaven-right h3{
	width:90%;
	margin:0 auto;
	font-size:14px;
	color:#888;
	text-align:center;
	font-weight:normal;
	padding-bottom:10px;
	border-bottom:1px solid #888;
}
.heaven-right .content{
	width:90%;
	margin:0 auto;
	line-height:30px;
	padding:20px 20px;
	color:#555;
	font-size:14px;
}

.preNext{
	width:90%;
	height:30px;
	margin:0 auto;
	border-top:1px solid #888;
	color:#888;
	line-height:30px;
	font-size:14px;
}
.preNext a{
	color:#888;
	text-decoration:none;
}
.preNext a:hover{
	color:#888;
	text-decoration:underline;
}
.preNext .pre{
	width:50%;
	float:left;
	text-align:left;
}
.preNext .next{
	width:50%;
	float:right;
	text-align:right;	
}


.rt{
	float:right;
}
.downAdd{
	width:90%;
	margin:0 auto;
	border-top:1px solid #888;
}
.downAdd h5{
	color:#888;
	font-size:16px;
	padding-top:20px;
	font-weight:normal;
}
.downAdd li{
	width:100%;
	height:30px;
	line-height:30px;
}


/*京职招聘*/
.zhaopin-main{
	width:100%;
}
.zhaopin-one{
	width:100%;
	height:335px;
	background:url(/static/images/zhaopinbg.jpg) 50% 20% no-repeat;
}
.zhaopin-one p{
	color:#fff;
	text-align:center;
	line-height:120px;
}
.zhaopin-one-anniu{
	width:315px;
	height:52px;
	margin:0 auto;
	border:4px solid #fff;
	line-height:52px;
	font-size:34px;
	text-align:center;
	color:#fff;
	margin-top:60px;
}
.zhaopin-message{
	width:100%;
	margin:0 auto;
}
.zhaopin-title{
}
.zhaopin-title h1{
	color:#333;
	font-size:28px;
	line-height:120px;
	text-align:center;
}
.line-red{
	width:10%;
	height:2px;
	margin:0 auto;
	background:#e60012;
}
.zhaopin-title h3{
	font-size:20px;
	text-align:center;
	line-height:120px;
}
.zhaopin-content{
	width:1000px;
	margin:0 auto;
	border-top:1px dotted #7c7c7c;
	padding:30px 0;
}
.zhaopin-content p{
	line-height:40px;
	color:#616161;
}
.zhaopin-liucheng{
	border-top:1px solid #7c7c7c;
}
.zhaopin-liucheng h1{
	color:#333;
	font-size:28px;
	line-height:120px;
	text-align:center;
}
.liucheng-content{
	width:850px;
	margin:0 auto;
	text-align:center;
}
.liucheng-content p{
	line-height:36px;
	color:#616161;
	margin-top:50px;
}




/*底部*/
.footer{
	width:100%;
	height:250px;
	background:#685e5f;
}
.footer-main{
	width:1200px;
	margin:0 auto;
}
.footer-logo{
	width:240px;
	margin:20px 0 0 100px;
}
.footer-word{
	width:600px;
	font-size:16px;
	color:#fff;
	text-align:center;
	line-height:27px;
	padding-top:40px;
}




/*幻灯片*/
#owl-demo{position:relative;width:1200px;height:300px;margin:0 auto;}
#owl-demo .item{ position:relative;display:block;}
#owl-demo img{display:block;width:1200px;height:300px;}

.owl-pagination{position:absolute;left:0;bottom:10px;width:100%;height:22px;text-align:center;}
.owl-page{display:inline-block;width:10px;height:10px;margin:0 5px;background-image:url(/static/images/bg15.png);*display:inline;*zoom:1;}
.owl-pagination .active{width:25px;background-image:url(/static/images/bg16.png);}
.owl-buttons{display:none;}
.owl-buttons div{position:absolute;top:50%;width:40px;height:80px;margin-top:-40px;text-indent:-9999px;}
.owl-prev{left:0;background-image:url(/static/images/bg17.png);}
.owl-next{right:0;background-image:url(/static/images/bg18.png);}
.owl-prev:hover{background-image:url(/static/images/bg19.png);}
.owl-next:hover{background-image:url(/static/images/bg20.png);}